* {
  font-family: 'PT Sans', sans-serif;
}

:root {
  /* standard color */
  --primary-bg: #3498db;
  --primary-dark-bg: #2980b9;
  --success-color: #2ecc71;
  --success-dark: #27ae60;
  --warning-color: #f1c40f;
  --warning-dark: #f39c12;
  --danger-color: #e74c3c;
  --danger-dark: #c0392b;
  --grey-color: #7f8c8d;
  /* font color */
  --text-white: #ecf0f1;
  /* another value */
  --white-bg: #fff;
  --box-shadow: 0 0 4px #bbb;
  --default-transition: all 0.3s ease-out;
}
/* ---------------------- */
/* NORMALIZE */
/* ---------------------- */

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  width: 100%;
}

p {
  margin: 0;
  display: inline-block;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.page-wrapper {
  width: 100%;
}

.row {
  width: 100%;
  display: block;
}

.text-center {
  text-align: center;
}

#header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  min-height: 65px;
  padding: 0px 10px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: var(--white-bg);
  box-shadow: var(--box-shadow);
  z-index: 100;
}

#header-img {
  max-width: 70px;
  margin-left: -330px;
}

.logo {
  display: flex;
  align-items: center;
}

.title-section {
  text-transform: uppercase;
  text-align: center;
  font-size: 26px;
}

.sub-title {
  font-size: 20px;
  margin-left: 10px;
  color: var(--grey-color);
}

.room-title{
  font-size: 20px;
  font-weight: bold;
  height: 5px;
}

.education {
  color: var(--danger-dark);
}

.btn {
  cursor: pointer;
  transition: var(--default-transition);
  -moz-transition: var(--default-transition);
  -webkit-transition: var(--default-transition);
}

.page-wrapper ul {
  list-style: none;
  display: flex;
  align-items: center;
  margin-right: -300px;
}

.page-wrapper li {
  margin: 0 10px 0 10px;
  text-transform: uppercase;
  font-size: 14px;
}

.nav-link {
  text-decoration: none;
  font-weight: 700;
  color: var(--grey-color);
}

.nav-link:hover {
  color: var(--primary-bg);
  transition: var(--default-transition);
}

.full-size-90 {
  min-height: 90vh;
  width: 100%;
}

.full-size-100 {
  min-height: 100vh;
  width: 100%;
}

/* ----------------------------------  */
/* Background hero */
/* ----------------------------------  */

.background-hero {
  background-attachment: scroll;
  background-position: center bottom;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url('../img/background-hero.png');
}

.text-hero {
  text-align: center;
  font-size: 4em;
  font-weight: 700;
  padding-top: 120px;
}

.btn-hero {
  font-size: 0.5em;
  padding: 15px 20px;
  border-width: 1px;
  border-style: solid;
  border-radius: 25px;
  cursor: pointer;
  text-transform: uppercase;
  background-color: var(--primary-dark-bg);
  color: var(--text-white);
  /* transition */
  transition: var(--default-transition);
  -moz-transition: var(--default-transition);
  -webkit-transition: var(--default-transition);
}

.btn-hero:hover {
  background-color: var(--primary-bg);
}

/* ----------------------------------  */
/* Section About */
/* ----------------------------------  */

.container {
  width: 85%;
  margin: auto;
}

.padding-top-80 {
  padding-top: 80px !important;
}

.content {
  display: flex;
  flex-direction: row;
  margin: auto;
}

.content p {
  padding: 10px;
  text-align: justify;
  font-size: 18px;
  font-weight: 500;
}

.flex-box {
  display: flex;
  flex-direction: row;
}

.col-12 {
  width: 100%;
}
.col-6 {
  width: 50%;
}
.col-4 {
  width: 33.33%;
}
.center {
  text-align: center;
}

#about {
  background-color: var(--primary-bg);
  color: var(--text-white);
}

#about button {
  border: 0;
  min-height: 40px;
  margin-top: 20px;
  margin-left: 10px;
  margin-bottom: 20px;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 25px;
}

.past-scene {
  background-color: var(--warning-dark);
  color: var(--text-white);
}

.past-scene:hover {
  background-color: var(--warning-color);
  color: var(--text-white);
}

#room {
  padding: 50px 0 20px 0;
}

#room img {
  margin-top: 20px;
}

#room .room-title {
  margin-top: 10px;
}

footer {
  background-color: #292b2c !important;
  padding: 10px;
  color: var(--text-white);
}
/* media query */
@media (max-width: 999px) {
  .page-wrapper ul {
    margin-right: -100px;
  }
  #header-img {
    margin-left: -130px;
  }
  .container {
    width: 90%;
  }
  .text-hero {
    margin-top: 50px;
    font-size: 2.3em;
  }
  .btn-hero {
    margin-top: 15px;
    padding: 10px 20px 9px 20px;
  }
}

@media (max-width: 799px) {
  .page-wrapper ul {
    margin-right: 0;
  }
  #header-img {
    margin-left: 0;
  }
  .container {
    width: 95%;
  }
  .col-6 {
    width: 90%;
    margin: auto;
  }
  .col-4 {
    width: 50%;
    margin: auto;
  }
  .content {
    flex-direction: column;
  }
}

@media (max-width: 499px) {
  .page-wrapper ul {
    display: none;
  }
  
  .flex-box {
    display: block;
  }

  .col-4 {
    width: 100%;
  }

  #header {
    justify-content: flex-start;
  }

  #video {
    width: 300px;
  }
}